.info-header h2 {
    flex: 1;
    margin-bottom: 2.5rem;
    color: var(--Blue);
}

.info-header button{
    float: right;
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--TransparentBlue);
    margin-top: 0.5rem;
}

.info-header button:hover {
    color: var(--Blue);
}
