.info-header h3 {
    flex: 1;
    margin-bottom: 2.5rem;
    color: var(--Blue);
}

.info-header button{
    float: right;
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--TransparentBlue);
}

.info-header button:hover {
    color: var(--Blue);
}
