.control {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.control label,
.control input {
    display: block;
}

.control label {
    flex: 1;
    padding-right: 1.5rem;
    text-align: left;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
}

.control input {
    flex: 3;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.control input:focus {
    outline: none;
    border: 1px solid #12232E;
    background-color: #EEFBFB
}

.invalid input{
    border: 1px solid var(--LightRed);
    background-color: var(--ErrorRed);
}
