.new-reservation {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
}

.new-reservation h3 {
    padding: 1rem;
    background-color: var(--DarkBlue);
    border: 1px solid var(--DarkBlue);
    border-radius: 10px;
    flex: 1;
    margin-bottom: 1.5rem;
}
