.new-vehicle {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
}

.new-vehicle__actions {
    margin-top: 2rem;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .new-vehicle {
        width: 35%;
    }
}
