.reservation-date {
    display: flex;
    flex-direction:column;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    color: var(--DarkBlue);
    font-weight: bold;
    align-items: center;
    justify-content: center;
}


.reservation-date__day {
    font-size: 1rem;
    font-weight: bold;
    color: var(--LightRed);
}
