.reservations {
    padding: 1rem;
    margin: 0.1rem auto;
    width: 60rem;
    max-width: 95%;
    text-align: center;
}

.reservations__filter {
    padding: 0.2rem 1rem;
    background-color: var(--DarkBlue);
}

.noReservation-card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: var(--DarkBlue);
    border-radius: 5px;
}

.noReservation-actions {
    padding: 0 0 2rem 0;
}

.noReservation-actions a, .anonim-message a {
    color: var(--Blue);
    text-decoration: none;
}

.noReservation-actions a:hover, .anonim-message a:hover {
    color: var(--LighterBlue);
    text-decoration: none;
}

.noReservation-card h3 {
    padding: 2rem 0;
}

.reservations-reports {
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    z-index: 999;
    cursor: pointer;
}
