.reservations-filter {
    color: white;
}

.reservations-filter__control {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: space-between;
}

.reservations-filter label {
    font-weight: bold;
    text-align: left;
}

.reservations-filter select {
    font: inherit;
    padding: 0.5rem 2rem;
    font-weight: bold;
    border-radius: 6px;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .reservations-filter__control {
        text-align: start;
        flex-direction: column;
    }

    .reservations-filter label {
        margin-bottom: 1rem;
    }
}
