.header {
    width: 100%;
    height: 5rem;
    background-color: var(--ShadowDarkBlue);
    padding: 0 10%;
    z-index: 1;
}

.header nav {
    height: 100%;
}

.header ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.header li {
    margin: 0 1rem;
    width: 5rem;
    color: #EEFBFB;
}

.header a {
    color: #EEFBFB;
    text-decoration: none;
    cursor: pointer;
}

.header a:hover,
.header a:active,
.header a.active {
    color: #4DA8DA;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid #4DA8DA;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #203647;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #EEFBFB;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #4DA8DA;
}

.dropdown:hover .dropdown-content {
    display: block;
}
