.nav-container {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 999;
    cursor: pointer;
}

.nav-container_icon {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container_icon:hover {
    opacity: 0.8;
}

.nav-menu {
    background-color: white;
    width: 45%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms;
    z-index: 1;
}

.nav-menu-items {
    padding-top: 6rem;
    width: 100%;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height: 50px;
}

.nav-text a {
    text-decoration: none;
    color: var(--DarkBlue);
    font-size: 18px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 4px;
}

.nav-text a:hover {
    color: var(--LighterBlue);
}