* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --DarkBlue: #12232e;
    --ShadowDarkBlue: #203647;
    --LighterBlue: #305f72;
    --Blue: #4da8da;
    --TransparentBlue: rgba(77, 168, 218, 0.7);
    --DarkGray: #353535;
    --LightRed: #ef476f;
    --LighterRed: rgba(239, 71, 111, 0.8);
    --ErrorRed: rgb(243, 206, 214);
}

html {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    height: 100%;
}

body {
    background-color: var(--DarkGray);
    height: 100%;
}

main {
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h5,
p {
    color: white;
}

img {
    aspect-ratio: attr(width) / attr(height);
}