* {
  box-sizing: border-box;
}

:root {
  --DarkBlue: #12232E;
  --ShadowDarkBlue: #203647;
  --LighterBlue: #305F72;
  --Blue: #4DA8DA;
  --DarkGray: #404040;
}

html {
  font-family: 'Arial', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--DarkGray);
  height: 100%;
}

h1,
h2,
h3,
p {
  color: white;
}

@font-face {
  font-display: swap;
}
