* {
    box-sizing: border-box;
}

:root {
    --DarkBlue: #12232E;
    --ShadowDarkBlue: #203647;
    --LighterBlue: #305F72;
    --Blue: #4da8da;
    --TransparentBlue: rgba(77, 168, 218, 0.7);
    --DarkGray: #353535;
    --LightRed: #ef476f;
    --LighterRed: rgba(239, 71, 111, 0.8);
}

html {
    font-family: 'Arial', sans-serif;
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--DarkGray);
    height: 100%;
}

h1,
h2,
h3,
h5,
p {
    color: white;
}

img {
    aspect-ratio: attr(width) / attr(height);
}

@font-face {
    font-display: swap;
}
