.register {
    width: 90%;
    max-width: 40rem;
    padding: 2rem;
    margin: 1rem auto;
}

.register-header h2 {
    color: var(--Blue);
    margin: 1rem 0;
}

.register__actions {
    margin-top: 2rem;
    text-align: right;
}

.register__actions button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 1rem;
}