.register {
    width: 90%;
    max-width: 40rem;
    padding: 2rem;
    margin: 1rem auto;
}

.register-header h2 {
    color: var(--Blue);
    margin: 1rem 0;
}

.register__actions {
    margin-top: 2rem;
    text-align: right;
}

.register__actions button, .go-back {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.register__actions button {
    padding: 1rem;
}

.register__actions button:hover, .go-back:hover {
    color: var(--LighterBlue);
}
