.user-card {
    width: 80%;
    padding: 2rem;
    z-index: 1;
    background-color: var(--DarkBlue);
    margin: auto;
}

@media only screen and (max-width: 1300px) {
    .user-card {
        width: 100%;
        padding: 1rem;
    }
}
